{% extends 'KodoZooBundle:Admin:index.html.twig' %}

{% block title %}{{ parent() }} des animaux{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Êtes-vous sur(e) de vouloir promouvoir {{ user.username }} au rôle de soigneur ?</h2>
        <form action="{{ path('kodo_zoo_user_promotetosoigneur', {'id': user.id}) }}" method="post">
            <a href="{{ path('kodo_zoo_utilisateurs_gestion') }}" class="btn btn-default">
                Retour
            </a>
            <input type="submit" value="Promouvoir" class="btn btn-warning" />
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}