{% extends 'FOSUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Se connecter{% endblock %}
{% block fos_user_content %}
    <div class="container">
    <form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post" >

        <a href="{{ path('kodo_zoo_accueil') }}" class="navbar-right">Retour</a>
        <h2 class="form-signin-heading">Se connecter</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username" class="sr-only">Pseudo</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="Pseudo" required="required">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Mot de passe" name="_password" required="required">
        <input class="btn btn-lg btn-warning btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        <div class="checkbox">
            <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a><br/>
            <a href="{{ path('fos_user_resetting_request') }}" >Mot de passe perdu ?</a>
        </div>
    </form>
    </div>
{% endblock fos_user_content %}